<%= form_for @changeset, @action, [], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :body %>
  <%= text_input f, :body %>
  <%= error_tag f, :body %>

  <%= label f, :word_count %>
  <%= number_input f, :word_count %>
  <%= error_tag f, :word_count %>

  <div>
    <%= submit "Save" %>
  </div>
<% end %>
